version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: tournament-postgres
    restart: always
    environment:
      POSTGRES_DB: tournamentdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
